<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body>
    <header>
        <h1> 이름과 그룹 id를 입력해주세요 </h1>
    </header>

    <main>
        <div>
            <form action="/home" method="post">
                <input type="text" name="nickname" id="nickname" placeholder="nickname" required>
                <input type="text" name="groupid" id="groupid" placeholder="groupid" required>
                <input type="submit" id="enter-btn" value="enter">
            </form>
    
        </div>
    </main>
</body>
</html>