<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <title>study home</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.5/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.5/dist/fullcalendar.print.css" rel="stylesheet"
        media="print">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"></script>
    <script>
        const NICKNAME = "<%= nickname %>"
        const ROOM_ID = "<%= roomID %>"
    </script>


</head>

<body>
    <div class="header">


    </div>
    <div class="container">
        <div id="calendar"></div>
        <div id="chatRoom">
            <br>
            <span>[CHATTING]</span>
            <ul></ul>
        </div>

        <div id="chatEnter">
            <form id="notice">
                <input type="text" placeholder="notice" required>
                <button type="button" class="btn" >Send</button>
            </form>

            <form id="msg">
                <input type="text" placeholder="message" required>
                <button  class="btn" id="msg-btn">Send</button>
            </form>
        </div>


        <div id="video-chat"></div>
    </div>

    <div class="modal fade" id="eventModal">
        <div class="modal-dialog" rold="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-body">
                        <div class="create-event-modal">
                            <div class="row">
                                <div class="col-md-12 modal-btn-new">
                                    <label class="col-xs-4" for="event-title"></label>
                                    <input class="event-info" type="text" name="event-title" id="event-title"
                                        placeholder="title" required="required" />
                                </div>

                                <div class="col-md-12 modal-btn-exist">
                                    <label class="col-xs-4" for="event-title"></label>
                                    <input class="event-info" type="text" name="event-title" id="event-title"
                                        placeholder="title" required="required" />
                                    <label class="col-xs-1" for="page-redir"></label>
                                    <button class="event-info" name="page-redir" id="page-redir"
                                        onclick="location.href='../test-page/assignPage.html'">바로가기</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-xs-4" for="event-type">type</label>
                                    <select class="event-info" type="text" name="event-type" id="event-type">

                                        <option value="회의">회의</option>
                                        <option value="과제 마감">과제 마감</option>
                                        <option value="기타">기타</option>

                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-xs-4" for="event-start">시작</label>
                                    <input class="event-info" type="text" name="event-start" id="event-start" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-xs-4" for="event-end">끝</label>
                                    <input class="event-info" type="text" name="event-end" id="event-end" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-xs-4" for="event-des">description</label>
                                    <textarea rows="3" cols="30" class="event-info" name="event-des"
                                        id="event-des"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer modal-btn-new">
                            <button type="button" class="btn btn-default" data-dismiss="modal">x</button>
                            <button type="button" class="btn btn-primary" id="event-save-btn">save</button>
                        </div>

                        <div class="modal-footer modal-btn-exist">
                            <button type="button" class="btn btn-default" data-dismiss="modal">x</button>
                            <button type="button" class="btn btn-danger" id="event-delete-btn">delete</button>
                            <button type="button" class="btn btn-primary" id="event-update-btn">save</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.5/dist/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="/main.js"></script>
    <script src="/addEvent.js"></script>
    <script src="/editEvent.js"></script>
    <script src="/chat.js"></script>

    <!-- <script src="etcSetting.js"></script> -->
    <!-- <script src="../datetimepicker/jquery.js"></script> -->
    <script src="../datetimepicker/jquery.datetimepicker.full.min.js"></script>

    <script>
        $("#event-start").datetimepicker({
            dateformat: 'YYYY-MM-DD HH:mm'
        });

        $("#event-end").datetimepicker({
            dateformat: 'YYYY-MM-DD HH:mm'
        });
    </script>


</body>

</html>