{% block content %}
<a href="/study-group/{{group.groupId}}">스터디 홈</a> <br>

<form id="form" action="/group/assignmentBox" method="post">
    <input type="hidden" value="{{group.groupId}}" name="groupId"> <br>   
    log <input type="input" name="log"> <br>
    title <input type="input" name="title"> <br>
    content <input type="input" name="content"> <br>
    deadline <input type="input" name="deadline"> <br>

    <button type="submit">과제함 생성</button>
</form>

<div>
    {% for box in boxlist %}
        <hr>
        {{box.title}}<br>
        {{box.content}}

        <ul style="background-color: lavender; width: fit-content">
        {% for file in box.Assignments %}
            <li>
                <a href="/group/download/{{file.filename}}" download>{{file.fileOrigin}}</a> (제출자: {{file.uploader}}) 

                <form action="/group/assignment?_method=DELETE" method="post">
                    <input type="hidden" value="{{file.filename}}" name="filename">
                    <input type="hidden" value="{{group.groupId}}" name="groupId">
                    <button type="submit">삭제</button>
                </form>
            </li>
        {% endfor %}
        </ul>

        <div style="background-color: lightskyblue; width: fit-content">
            <form id="form" action="/group/assignment" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{group.groupId}}" name="groupId">
                <input type="hidden" value="{{box.boxId}}" name="boxId">
                <input type="hidden" value="홍진서" name="uploader">
            
                <input type="file" name="fileData">
                <button type="submit">과제 제출</button>
            </form>
        </div>

        <form action="/group/assignmentBox?_method=DELETE" method="post">
            <input type="hidden" value="{{group.groupId}}" name="groupId">
            <input type="hidden" value="{{box.boxId}}" name="boxId">
            <button type="submit">과제함 삭제</button>
        </form>
    {% endfor %}
</div>

{% endblock %}